<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InputXML" value="Inputfile.xml"/>
    <add key="TestSupportBrowser" value="IE"/>
    <add key="ImplicitWaitSpan" value="60"/>
    <add key="ExplicitWaitSpan" value="60"/>    
    <add key="DefaultURL" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
